* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  overflow:hidden;
}

main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:5px;
    white-space: nowrap;
}

button{
    padding: 10px 15px;
    background-color: cyan;
    border:none;
    font-weight: 600;
    border-radius: 10px;
    position: relative;
    z-index: 2;
}

button:active{
    scale:0.9;
}