* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

main{
    height: 250px;
    width: 470px;
    background-color: aqua;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    border: 2px solid black;
}

section{
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

h2{
    text-align: center;
    padding: 10px 10px;
    font-weight: 800;
    font-size: px;
}


button{
    padding: 12px 15px;
    border-radius: 10px;
    font-weight: 600;
}

button:active{
    scale:0.9;
}

#task{
    margin-top: 8px;
}
