* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

#outside{
    height: 200px;
    width: 350px;
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#outer{
    height: 15px;
    width: 100%;
    background-color: rgb(176, 171, 171);
    border-radius: 10px;
    overflow: hidden;
}

#inner{
    height: 15px;
    width: 0%;
    background-color: green;
}

#btm{
    display: flex;
    justify-content: space-between;
    padding: 5px 15px;
}

button{
    padding: 10px 15px;
    font-weight: 600;
    border-radius: 10px;
    background-color: green;
    color: white;
}

button:active{
    scale: 0.9;
}

h3{
    text-align: center;
    padding: 10px 10px;
}



span{
    color: royalblue;
}