* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

div{
  height: 350px;
  width: 350px;
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div figure{
  position: relative;
}

div img{
  height: 230px;
  width: 200px;
  object-fit: cover;
}

div i {
  height: 100px;
  width: 100px;
  position: absolute;
}