* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
  background-color: black;
  color: rgb(143, 182, 195);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#box {
  height: 350px;
  width: 450px;
  background-color: aquamarine;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

button {
  padding: 10px 15px;
  background-color: royalblue;
  color: white;
  border: 2px solid black;
  border-radius: 10px;
  font-size: 20px;
}

button:active {
  scale: 0.9;
}

img{
    height: 175px;
}
img:hover{
    scale: 1.2;
}

