* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

main{
    height: 100%;
    width: 100%;
    background-color: black;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 5px;
    overflow: auto;
}

.card{
    height: 370px;
    width: 250px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 10px 10px;
    
}

.card img{
    height: 130px;
    width: 130px;
    object-fit: cover;
    border-radius: 50%;
}

#skills h6{
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px 5px;
}

#skills{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

#profile{
    width: 100%;
    text-align: center;
    border-top: 2px solid black;
    border-radius: 10px;
    margin-top: 5px;
    padding: 5px;
}

#profile:hover{
    cursor: pointer;
    background-color: rgb(190, 184, 184);
}

.card p{
    font-size: 13px;
    text-align: center;
}